@use "sass:color";
// Define defaults for each variable.
// !default 是一个 可选值标记，用来声明变量只有在 还没有被赋值 的情况下才会生效
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !default;


$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
// Sass（尤其是 Dart Sass）里，$lightness 是 调整颜色亮度的参数
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
$grey-color-dark: color.adjust($grey-color, $lightness: 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 1100px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// 定义一个 可复用的响应式媒体查询 Mixin
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
